/client/build/*
/client/config/*
/client/.editorconfig
/client/.babelrc
/client/.postcssrc.js
/client/yarn.lock
/server/db.sqlite3
/server/server/__pycache__
/server/serverapp/__pycache__
/server/script.py
# composer.json
# index.html
# index.php